#id_1 {height: 350px ; width: 525px ; }
#id_23 {margin: 10px ; }
#id_14 {margin: 10px ; }
#id_19 {font-size: 10px ; margin: 10px ; }
#id_22 {background-color: Aqua; }
#id_21 {background-color: Aqua; }
#id_20 {background-color: Aqua; }
#id_15 {font-weight: Bold; }
#id_4 {margin: 10px ; }
#id_13 {color: Red; margin: 5px ; width: 150px ; }
#id_12 {margin: 5px ; }
#id_11 {margin: 5px ; }
#id_10 {margin: 5px ; }
#id_9 {background-color: Beige; margin: 5px ; }
#id_8 {height: 15px ; width: 100px ; }
#id_7 {height: 15px ; width: 100px ; }
#id_6 {margin: 5px, 5px, 0px, 0px ; width: 60px ; }
#id_5 {margin: 5px, 5px, 0px, 0px ; width: 60px ; }
#id_3 {font-size: 12px ; font-weight: Black; font-style: Normal; }
