IDD_MFCLOCALIZATION_DIALOG DIALOGEX 0, 0, 326, 245
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_APPWINDOW
CAPTION "MFC Localization"
MENU IDR_MENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,215,222,50,16
    PUSHBUTTON      "Cancel",IDCANCEL,269,222,50,16
    LTEXT           "Color:",IDC_STATIC,7,8,62,9
    LTEXT           "Numbers:",IDC_STATIC,7,24,62,9
    COMBOBOX        IDC_COMBO1,81,7,85,168,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO2,81,23,85,168,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Some checkbox control",IDC_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,42,100,10
    CONTROL         "Some radio control",IDC_RADIO,"Button",BS_AUTORADIOBUTTON,7,59,100,10
    CONTROL         "",IDC_SLIDER,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,7,76,100,15
    CONTROL         "",IDC_SPIN,"msctls_updown32",UDS_ARROWKEYS,97,98,10,14
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_BORDER,7,119,100,14
    CONTROL         "",IDC_HOTKEY,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,7,140,100,14
    CONTROL         "",IDC_TREE,"SysTreeView32",WS_BORDER | WS_TABSTOP,223,113,96,102
    LISTBOX         IDC_LIST,119,113,96,102,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_DATETIMEPICKER,"SysDateTimePick32",DTS_RIGHTALIGN | WS_TABSTOP,7,161,100,15
    CONTROL         "",IDC_MONTHCALENDAR,"SysMonthCal32",MCS_NOTODAY | WS_TABSTOP,179,7,140,100
    CONTROL         "",IDC_IPADDRESS,"SysIPAddress32",WS_TABSTOP,7,183,100,15
    EDITTEXT        IDC_EDIT,7,98,84,14,ES_AUTOHSCROLL
    GROUPBOX        "Group box",IDC_STATIC,119,39,48,68
END
