#id_1 {height: 300px ; width: 350px ; }
#id_12 {margin: 10px ; }
#id_4 {margin: 10px ; }
#id_11 {color: Red; margin: 5px ; width: 150px ; }
#id_10 {margin: 5px ; }
#id_9 {margin: 5px ; }
#id_8 {margin: 5px ; }
#id_7 {background-color: Beige; margin: 5px ; }
#id_6 {height: 15px ; width: 100px ; }
#id_5 {margin: 5px, 5px, 0px, 0px ; width: 60px ; }
#id_3 {font-size: 12px ; font-weight: Black; font-style: Normal; }
