#ifdef APSTUDIO_INVOKED
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    LTEXT           "Static",IDC_STATIC,18,15,19,8
    EDITTEXT        IDC_EDIT1,16,25,40,14
    PUSHBUTTON      "Button1",IDC_BUTTON1,119,65,50,14
    CHECKBOX        "Check1",IDC_CHECK1,15,44,39,10
    RADIOBUTTON     "Radio1",IDC_RADIO1,15,57,38,10
END